.header {
  padding: 38px 0 25px 0;
  display: grid;
  grid-template-columns: 346px 1fr 1fr;
  align-content: center;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 39px;
}

.menu__item {
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.menu__item:hover {
  border-bottom: 2px solid rgb(119, 11, 29);
}

.header__phone {
  justify-self: end;
}

.phone__phone {
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
}

.menu__link {
  text-decoration: none;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 14px;
  color: rgb(119, 11, 29);
  cursor: pointer;
}

.burger {
  display: none;
}

.close {
  display: none;
}



.main-section {
  overflow: hidden;
  background: #eba8b1;
  z-index: 0;
}

.pink-container {
  padding-bottom: 108px;
  box-sizing: border-box;
}

.main-info {
  margin-top: 126px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: end;
  padding-right: 15px;
  position: relative;
}

.info {
  z-index: 3;
}

.main-info__title {
  margin-bottom: 55px;
  font-size: 55px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
}

.main-info__text {
  margin-bottom: 80px;
  max-width: 360px;
  font-size: 18px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
}



.main-info__btn {
  width: 240px;
  font-size: 18px;
  margin-bottom: 37px;
  padding: 22px 0 21px 0;
}

.main-image__img{
  z-index: 2;
  position: relative;
}

.main-image {
  position: relative;
}

.main-image::after {
  content: '';
  position: absolute;
  top: calc(50% - 100px);
  right: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 0;
  animation: pulse 3s infinite;
  border: 1px solid #770c22;
}

.main-image::before {
  content: '';
  position: absolute;
  top: calc(50% - 100px);
  right: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 0;
  animation: pulse 3s infinite 0.5s;
  border: 1px solid #770c22;
}




.products {
  background: #eba8b1;
}

.container-products {
  padding: 120px 0;
}

.products__title {
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

.products-items {
  margin-top: 143px;
  display: grid;
  gap: 29px;
  grid-template-columns: repeat(4, 1fr);
}





.order {
  background-color: #ffefef;
}

.container-order {
  padding: 95px 150px 120px 16px ;
  box-sizing: border-box;
}

.order-block {
  display: flex;
  justify-content: space-between;
  gap: 160px;

}

.order__title {
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
}

.order__text {
  width: 406px;
  margin-top: 25px;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
}

.order-image {
  padding-top: 69px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-image__strawberry {
  position: absolute;
  left: -25px;
  top: 50px;
  z-index: 0;
  animation: shuttle 3s infinite;
}

.order-form {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
}

.form span {
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(18, 10, 6);
  margin-top: 28px;
}

.order__input {
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  width: 293px;
  padding: 22px 20px 23px 26px;
  box-sizing: border-box;
  margin-top: 15px;
  background-color: transparent;
}

.order__input::placeholder {
  font-size: 15px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(118, 12, 34);
}

.form span:first-child {
  margin-top: 48px;
  margin-bottom: 5px;
}

.btn-form {
  width: 295px;
  padding: 20px 10px 20px 10px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 15px;
}

.order-form__strawberry {
  position: absolute;
  right: 3px;
  bottom: 78px;
  animation: shuttle 3.5s infinite;
}

// present
.present {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  z-index: 10;
}

.present__circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgb(117,11,32);
  background: radial-gradient(circle, rgba(117,11,32,1) 0%, rgba(178,49,70,1) 70%);
  position: relative;
  transition: all 0.5s;
}

.present__circle:hover {
  box-shadow: 0px 0px 14px 0px rgb(117,11,32);
}

.present__img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 17px;
  top: 17px;

}

.present__message {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(119, 10, 29);
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  width: 100px;
  height: 60px;

  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  padding: 10px 3px 10px 10px;
  vertical-align: middle;
  box-sizing: border-box;

  position: absolute;
  left: -120px;
  top: 17px;
  //transform: translate(0, 100%);
  //opacity: 0;
  //transition: all 1s;
}

.present__message::before,
.present__message::after {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  right: -8px;
  z-index: 2;
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 10px transparent;
  border-right: 0;
  border-left-color: rgb(254 239 238);
}

.present__message::before {
  top: 17px;
  right: -11px;
  z-index: 1;
  border-left-color: rgb(119, 10, 29);
}

.present:hover .present__message {
  transform: translate(0, 0);
  opacity: 100;
}


// animation
@keyframes pulse  {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}


@keyframes shuttle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1919px) {
  .products-items {
    gap: 0;
  }

  .products-items {
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 136px 29px;
    justify-content: center;
  }

  .big-macaroon {
    width: 100%;
    vertical-align: middle;
  }

  .info-block {
    width: 475px;
  }

  .order-block {
    gap: 0;
  }

  .order-image__macaroons {
    width: 100%;
  }

  .order-image {
    padding-right: 20px;
  }

}

@media screen and (max-width: 1126px) {
  .products-items {
    grid-template-columns: repeat(2, 250px);
  }
}

@media screen and (max-width: 927px) {
  .main-info {
    margin-top: 70px;
  }

  .main-image {
    position: absolute;
    top: 258px;
    left: 264px;
  }

  .main-info__title {
    margin-bottom: 70px;
  }

  .main-info__text {
    margin-bottom: 38px;
  }

  .pink-container {
    padding-bottom: 383px;
  }
}

@media screen and (max-width: 833px) {
  .main-image {
    position: absolute;
    top: 279px;
    left: 162px;
  }
}

@media screen and (max-width: 768px) {


  .info-block {
    width: auto;
  }

  .big-macaroon {
    width: 297px;
  }

  .products-items {
    grid-template-columns: repeat(auto-fit, 250px);
  }

  .order-block {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .order-image__macaroons {
    width: 352px;
    position: absolute;
    bottom: -100px;
    right: -1px;
  }

  .order-image__strawberry {
    left: -362px;
    top: -302px;
  }

  .order-form__strawberry {
    right: -234px;
    top: 101px;
  }
}

@media screen and (max-width: 720px) {
  .main-info {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .main-image {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-info__title {
    text-align: center;
  }

  .main-image__img {
    width: 100%;
  }

  .pink-container {
    padding-bottom: 37px;
  }

  .order-form__strawberry {
    display: none;
  }

  .order-image__strawberry {
    left: -131px;
    top: -444px;
  }

}

@media screen and (max-width: 553px) {
  .main-info {
    align-items: center;
  }

  .order-image__strawberry {
    left: -71px;
    top: -470px;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
  }

  .order-image {
    padding: 0;
  }

  .order__text {
    width: auto;
  }

}

@media screen and (max-width: 494px) {
  .order-image__macaroons{
    display: none;
  }

  .order__title {
    font-size: 30px;
  }

  .order__text {
    font-size: 16px;
  }

  .order__input {
    width: 100%;
  }

  .btn-form {
    width: 100%;
  }

  .container-order {
    padding-bottom: 77px;
  }
}

@media screen and (max-width: 375px) {
  .main-info__title {
    font-size: 30px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 34px;
  }

  .main-info {
    gap: 0;
    margin-top: 49px;
  }

  .main-info__text {
    text-align: center;
    font-size: 17px;
    margin-bottom: 32px;
  }

  .main-image__img {
    width: 250px;
    margin: 0 auto;
  }

  .products__title {
    font-size: 29px;
  }

  .container.container-products {
    padding-top: 97px;
    padding-bottom: 100px;
  }

  .products-items {
    margin-top: 123px;
  }
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #ffefef;
  border: 2px solid #770c22;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  top: 1px;
  color: #770c22;
}




@media screen and (max-width: 1919px) {
  .header {
    grid-template-columns: 1fr 300px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 215px 300px;
  }

  .header .phone {
    display: none;
  }
}

@media screen and (max-width: 553px) {
  .header {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .burger {
    display: block;
    justify-self: end;
  }

  .burger svg {
    fill: rgb(119 11 29);
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: block;
  }

  .menu .close {
    display: block;
    width: 24px;
    height: 24px;
    fill: white;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;
    z-index: 11;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin: 50px auto;
  }

  .menu__link {
    color: white;
    font-size: 30px;
  }
}

// footer
.footer {
  padding: 73px 0 62px 0;
  background-color: #c0707c;
  box-sizing: border-box;
}

.footer__logo {
  align-self: start;
  margin-top: 6px;
}

.rights {
  display: block;
  font-size: 12px;
  font-family: "Gilroy", sans-serif;
  color: rgb(227, 172, 180);
  align-self: self-start;
  margin-top: -30px;
}

.instagram {
  text-align: center;
}

.instagram__text {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
}

.footer__phone {
  justify-self: end;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

@media screen and (max-width: 494px) {
  .footer {
    padding: 24px 0 37px 0;
  }

  .container-footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .rights {
    margin-top: 0;
    align-self: center;
    order: 4;
    padding-top: 25px;
  }

  .footer__logo {
    margin: 0;
    align-self: center;
  }

  .footer__phone {
    padding-bottom: 22px;
    align-self: center;
    justify-self: center;
    order: 2;
  }

  .instagram {
    order: 3;
  }
}
