<section class="main-section">
  <div class="container pink-container">
    <header class="header">
      <div class="logo">
        <img src="./assets/images/logo.png" alt="Logo" class="logo__img">
      </div>
      <nav class="menu" id="menu">
        <div class="close">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve" height="36px" width="36px">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.79F2-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                    </svg>
        </div>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" (click)="scrollTo(productsElement)">Пироженки</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" (click)="scrollTo(advantagesElement)">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" (click)="scrollTo(orderElement)">Оформить заказ</a></li>
        </ul>
      </nav>
      <div class="phone header__phone">
        <span class="phone__phone">{{ phone }}</span>
      </div>
      <div class="burger" id="burger">
        <svg id="Layer_1" enable-background="new 0 0 512 512" height="36px" viewBox="0 0 512 512" width="36px"
             xmlns="http://www.w3.org/2000/svg">
          <path d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
          <path d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
          <path d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"/>
        </svg>
      </div>
    </header>
    <div class="main-info">
      <div class="info">
        <h1 class="main-info__title">Мягкие французские пироженки Macaroons</h1>
        <p class="main-info__text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
          пироженками Macaroon!</p>
        <div class="action">
          <a class="btn main-info__btn" (click)="scrollTo(productsElement)">Выбрать макарун</a>
        </div>
      </div>
      <div class="main-image">
        <img src="../assets/images/main-macaroons.png" class="main-image__img" alt="Коробка с пирожными">
      </div>
    </div>
  </div>
</section>
<section class="structure" #advantagesElement>
  <div class="container white-container">
    <div class="structure__main-info">
      <div class="info-block">
        <h2 class="structure__title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
        <p class="structure__text">Все пироженки мы готовим только из натуральных и качественных продуктов, без
          консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина, разрыхлителей и улучшителей муки.
        </p>
      </div>
      <div class="image-block">
        <img src="../assets/images/big-macaroon.png" class="big-macaroon" alt="Большое пирожное">
      </div>
    </div>
    <div class="advantages" >
      <div class="advantages__item" *ngFor="let advantage of advantages; let i = index;">
        <div class="circle">{{ i + 1 }}</div>
        <span class="advantages__item__title">{{ advantage.title }}</span>
        <p class="advantages__item__text">
          {{ advantage.description }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="products" #productsElement>
  <div class="container container-products">
    <h2 class="products__title">Выберите свой макарун</h2>
    <div class="products-items">
      <div class="product-item" *ngFor="let product of products;">
        <img class="product-item__img" src="../assets/images/{{product.image}}" alt="Макарун с малиной">
        <span class="product-item__title">{{ product.title }}</span>
        <div class="product-item__action">
          <div class="product-item__price">
            <div class="product-item__count">1 шт.</div>
            <div class="product-item__price__price">{{ product.price }} руб.</div>
          </div>
          <div>
            <a class="btn product-item__btn" (click)="addToCart(product, orderElement)">Заказать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" #orderElement>
  <div class="container container-order">
    <div class="order-block">
      <div class="order-image">
        <img src="../assets/images/macaroon_PNG56.png" alt="Макаруны" class="order-image__macaroons">
        <img src="../assets/images/strawberry.png" alt="Клубника" class="order-image__strawberry">
      </div>
      <div class="order-form">
        <h2 class="order__title">Закажите макарун!</h2>
        <p class="order__text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
          пекаря!
        </p>
        <form class="form" action="#">
          <span>Ваш выбор</span>
          <input type="text" class="order__input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
          <span>Заполните данные для заказа</span>
          <input type="text" class="order__input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
          <input type="text" class="order__input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
          <button class="btn btn-form" (click)="createOrder()">Оформить заказ</button>
        </form>
        <img src="../assets/images/strawberry2.png" alt="Клубника" class="order-form__strawberry">
      </div>
    </div>
  </div>
</section>

<div class="present" *ngIf="showPresent">
  <div class="present__circle">
    <img class="present__img" src="../assets/images/present.png" alt="Подарок">
  </div>
  <div class="present__message">
    <p>Оформите заказ</p>
    <p>и получите подарок!</p>
  </div>
</div>
